# AoC Day 1 part 1

- https://adventofcode.com/2024/day/1 

 - https://adventofcode.com/2024/day/1/input

In [1]:
import pandas as pd 
import sys

sys.path.insert(0, '../src')
import day_01 as d1

In [2]:
fp = '../data/day_01_1.txt'
df = pd.read_csv(fp, names=['list1', 'list2'], sep=r'\s+')
df.head()

   list1  list2
0  80414  72092
1  17250  26414
2  23063  14603
3  89663  35210
4  27237  81657

In [3]:
d1.find_dist_from_two_lists(df.list1.to_list(), df.list2.to_list())

1646452