# AoC Day 2 part 2

- https://adventofcode.com/2024/day/2

 - https://adventofcode.com/2024/day/2/input

In [1]:
import pandas as pd 
import sys

sys.path.insert(0, '../src')
import day_02 as d2

In [2]:
fp = '../data/day_02_1.txt'
df = pd.read_csv(fp, names=['report', ], )
df.head()

                    report
0             3 6 7 9 11 8
1  21 24 25 26 29 30 32 32
2  29 32 33 34 35 37 38 42
3  54 55 57 58 60 61 63 70
4     59 61 60 63 65 68 71

In [3]:
results = list() 
for report in df.report.to_list():
    #print( [int(a) for a in report.split()] )
    result = d2.check_is_safe_problem_dampener( [int(a) for a in report.split()] )
    results.append(result)
    #break

In [4]:
results.count(True)

717